server:
  port: ${SERVER_PORT:8083}

spring:
  application:
    name: servicio-transporte

  datasource:
    url: jdbc:sqlite:transporte.db
    driver-class-name: org.sqlite.JDBC

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://keycloak:8080/realms/logistica-realm/protocol/openid-connect/certs
