server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: servicio-clientes

  datasource:
    url: jdbc:sqlite:clientes.db
    driver-class-name: org.sqlite.JDBC

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
        format_sql: true