server:
  port: 8081

spring:
  datasource:
    url: jdbc:sqlite:clientes_db.sqlite
    driver-class-name: org.sqlite.JDBC

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    show-sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
